.Modal {
  position: absolute;
  z-index: 1000;
  padding: 48px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
  overflow-y: auto;
}

.Modal-container {
  position: relative;
  margin: 0 auto;
  background: #ffffff;
  padding: 32px 48px;
  border-radius: 2px;
}

.Modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  border: none;
  background-image: url(./close-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.Modal-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 24px 0;
}